@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Oswald&family=Raleway&display=swap");

@layer base{
  body{
    @apply font-[Raleway]
  }
  li{
    @apply px-4;
    @apply cursor-pointer;
  }
}
@layer components {
  .container {
    @apply minsm:max-w-[640px] minmd:max-w-[768px] minlg:max-w-[1024px] minxl:max-w-[1280px] min2xl:max-w-[1536px];
  }
}

.content-div1{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 200px;
}
.content-div:hover{
  
  background-image: linear-gradient(
    to right,
    rgba(112,157,255, 0.8),
    rgba(87, 82, 229, 0.491)
  )!important;
}