@tailwind base;
@tailwind components;
@tailwind utilities;

/* @media (prefers-color-scheme:dark){
  body{
    background: #282c34;
    color:#fff;
  }
} */

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&family=Oswald&family=Raleway&display=swap");

@layer base{
  body{
    @apply font-[Raleway]
  }
  li{
    @apply px-4;
    @apply cursor-pointer;
  }
}
@media (max-width:640px) {
  body{
    font-family:'Trebuchet MS', sans-serif
  } 
}
.outline-white input:focus-within ~ label,
.outline-white input:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-3 z-0 ml-3 px-1 py-0;
}
input:not(:focus-within) ~ label {
  @apply transform duration-300 scale-100;
}
.outline-white textarea:focus-within ~ label,
.outline-white textarea:not(:placeholder-shown) ~ label {
  @apply transform scale-75 -translate-y-3 z-0 ml-3 px-1 py-0;
}
textarea:not(:focus-within) ~ label {
  @apply transform duration-300 scale-100;
}

.content-div1{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
}
.content-div:hover{
  transition-duration: 300ms;
  background-image: linear-gradient(
    to right,
    rgba(251, 149, 66, 0.9),
    rgba(255, 115, 0, 0.9)
  )!important;
}
.content-div:not(:hover){
  transition-duration: 300ms;
}


.switch-checkbox:checked + .switch-label .switch-button{

  /* left: calc(100%-2px); */
  left:100%;
  transform: translateX(-22px);

}

.light{
  background-image: url("https://cdn-icons-png.flaticon.com/128/2910/2910890.png");
  background-size: cover;
  
}

.moon{
  background-image: url("https://cdn-icons-png.flaticon.com/128/1823/1823397.png");
  background-size: cover;

}

@keyframes pulse {
  50% {
    /* opacity: 0.5; */
    scale: 1.2;
  }
}
.animate-pulse {
  animation: pulse 1s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}


/* sun  background-image: url("https://cdn-icons-png.flaticon.com/128/146/146199.png"); */


/* orange-300 : #fbd38d */
/* orange-500: #ed8936 */
/* pink-600: #d53f8c */